
@{
    ViewBag.Title = "Wait... | Author";
}

<center>
    <br /><br /><br />
    <h2>Please wait till your account is confirmed by admins, then you can create posts.</h2>
    <br /><br /><br />
    <a href="/Author/Profile" class="btn-lg btn-success">Ok</a>
</center>


